<h1>Réinitialisation de votre mot de passe</h1>

<p>Bonjour {{ user.firstName }}.</p>
<p>Vous venez de demandé à réinitialiser votre mot de passe sur notre site.</p>
<p>Pour ce faire vous pouvez cliquer sur ce <a href="{{ front_url ~ '/mot-de-passe?token=' ~ (user.token|url_encode) }}">lien</a> et suivre les indications.</p>
<br>
<p>Vous n'êtes pas à l'origine de cette demande? Vous pouvez simplement ignorer cet E-mail.</p>
<p>Vous pouvez également nous contacter à l'adresse {{ email }}, un administrateur vous répondra au plus vite.</p>

<p>Merci et à bientot sur <a href="{{ front_url }}"></a>Renarou.fr</p>
